@CHARSET "ISO-8859-1";

/*Color Classes*/
.royal-background {
	background-color:#4060c0;
}
.slate-background {
	background-color:#4040a0;
}
.steel-background {
	background-color:#4060a0;
}
.purple-background{
	background-color:#e0e0f0;
}

/*Header/menubar styling */

#header {
	width: 100%;
	margin-bottom:25px;
	margin-top:0px;
	padding:1px;
	background-color:#f0f0f0;
	border-radius:5px;
}

#header ul{
	list-style-type:none;
	padding:0;
}

#header li { 
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
	background-color:#F5FAFF;
	border-radius:15px;
	text-align:center;
	border-style:solid;
	/*border-color:#70B8FF;*/
	border-color:#4060a0;
	width:90px;
	height:90px;
}

#header a
{
	font-size:small;
}

#header img 
{
	width:60px;
	height:60px;
}


a:link, a:visited {
	color:#0033CC;
}
a:hover {
	color:#4060c0;
}


#listmenu {
	margin-bottom:10px;
	width:100%;
	background-color:#f0f0f0;
	padding:5px;
}
#listmenu a {
	padding:5px;
}

#listmenu img {
	width:18px;
	height:18px;
}

#entrytable table {
	width:100%;
}

#entrytable td:first-child + td {
	width:30px;
}

#entrytable img {
	width:20px;
	height:20px;
}

table {
	border:0 none;
	border-radius:5px;
	background-color:#f0f0f0;
	/*border-spacing:0px;*/
	padding: 5px;
	
}

tr, th {
	padding:4px;
}

tbody tr:hover {
	background-color:#e0e0f0;
}

/* To alternate list row attributes */
.even{background-color:white;}
.odd{background-color:#e0f0f0;}

